.footer_top {
  position: relative;
  top: -4px;
  div {
    height: 10px;
  }
  .persimmon_footer {
    background: $persimmon;
  }
  .baby_blue_footer {
    background: $baby_blue;
  }
  .mustard_footer {
    background: $mustard;
  }
}

.footer.full-width {
  border: 0;
  padding-top: 0;
}

.footer {
  background-color: $poppy;
  color: $mustard;
  text-align: center;
  .sponsor_logos {
    border-bottom: 1px solid #999;
    img {
      padding: 1rem;
    }
  }
  ul {
    list-style-type: none;
    margin: 1rem 0 0 0;
    ul {
      margin: 0;
    }
    li {
      margin-bottom: .5rem;
      a {
        color: $baby_blue;
      }
      a:hover {
        color: $white;
      }
      .copyright {
        font-size: .65rem;
      }
      .site_credit {
        font-size: .55rem;
      }
    }
  }
}
