body {
  h1 {
    color: $poppy;
    font-family: 'bitterBold', Times, serif;
    text-transform: uppercase;
  }

  h2 {
    color: $poppy;
    font-family: 'bitterBold', Times, serif;
    line-height: 20px;
    text-transform: uppercase;
  }

  h3 {
    color: $poppy;
    font-family: 'bitterRegular', Times, serif;
  }

  em {
    color: $poppy;
    font-family: 'bitterItalic', Times, serif;
    font-size: 18px;
  }

  p {
    font-family: 'bitterRegular', Times, serif;
    font-size: 18px;
  }
  figure.figure {
    display: block;
    figcaption {
      display: block;
    }
  }
  #wpstats {
    display: none;
  }
}

