.contain-to-grid {
  background: $poppy;
}

.header {
  max-width: 100%;
  .top_branding {
    border-bottom: 3px solid $persimmon;
    img {
      padding: 1rem 0;
    }
  }
  .top_navigation {
    background: $mustard;
    text-align: center;
    ul {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      li {
        display: inline-block;
        margin: 0 5rem;
        text-transform: uppercase;
        a {
          color: $poppy;
          font-family: 'bitterBold', Times, serif;
        }
      }
    }
  }
}

.left-off-canvas-menu {
  border-right: 1px solid $white;
  text-align: center;
  .off-canvas-logo {
    border-bottom: 3px solid $persimmon;
    margin-bottom: 2rem;
  }
  img {
    padding: 1rem 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    li {
      margin-bottom: 1rem;
      a {
        color: $mustard;
        text-transform: uppercase;
      }
    }
  }
}
