.home {
  .main_container.follow_along {
    background: $baby_blue;
    padding-bottom: 1rem;
    h2 {
      padding-top: 2rem;
    }
  }
  .who_is_limberlost,
  .follow_along,
  .our_story_home {
    h1 {
      a {
        color: $poppy;
      }
      a:hover {
        color: $persimmon
      }
    }
  }
}

.container {
  .home_featured_image {
    img {
      display: block;
    }
  }
  .main_container {
    background: $white;
    position: relative;
    top: -4px;
  }
}

.follow_along {
  .article {
    margin-bottom: 2rem;
    position: relative;
    header {
      background: rgba(233, 204, 140, .8);
      bottom: 0;
      color: #fff;
      margin: 0;
      padding: 0;
      position: absolute;
      h5 {
        color: $white;
        margin: 0;
        padding: .5rem;
      }
    }
    header:hover h5 {
      color: $poppy;
    }
  }
  .article:hover header {
    opacity: 1;
  }
}

.our_story_home {
  position: relative;
  .our_story_excerpt {
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
    .intro-content {
      p {
        font-family: 'bitterItalic', Times, serif;
      }
    }
  }
}

.our_story {
  .featured_image_container {
    h1.entry-title {
      color: $poppy !important;
    }
  }
}

.who_is_limberlost {
  .intro-content {
    p {
      font-family: 'bitterItalic', Times, serif;
    }
  }
  .post-content {
    padding: 1rem;
    em {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
  .gabriel-amadeus {
    .entry_content {
      background: $persimmon;
    }
  }
  .jason-britton {
    .entry_content {
      background: $baby_blue;
    }
  }
  .ryan-kelley {
    .entry_content {
      background: $mustard;
    }
  }
}

.article_archive {
  .article_portal {
    margin-bottom: 3rem;
    h2 {
      margin-bottom: 1rem;
    }
    a {
      color: $persimmon;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.post-categories {
  list-style-type: none;
  margin-left: 0;
  li {
    display: inline-block;
    padding: .25rem .5rem;
    transition: background .2s linear;
    a {
      color: $poppy;
    }
  }
  li:hover {
    background: $persimmon;
    cursor: pointer;
    a {
      color: $poppy;
      text-decoration: none;
    }
  }
}

body.single-post,
.page-template-our-story-php {
  .featured_image_container {
    position: relative;
    .featured_image_title {
      position: absolute;
      text-align: center;
    }
    .featured_image_title,
    .single_header {
      h1, em {
        text-shadow: 0px 2px 2px $poppy;
      }
    }
  }
  .post-categories {
    display: inline-block;
    margin-top: 1rem;
  }
  .container {
    .main_container {
      background: $white;
      padding-top: 0;
      #content {
        .entry_meta {
          text-align: center;
        }
        em {
          margin-bottom: 1rem;
        }
      }
    }
    .wp-caption {
      max-width: 100%;
      .wp-caption-text {
        color: #999;
        font-family: 'bitterItalic', Times, serif;
        font-size: .75rem;
      }
    }
  }
  .our_story_bios {
    h1 {
      margin: 2rem 0 3rem;
    }
  }
}

.pagination {
  margin-bottom: .5rem;
  text-align: center;
  .page-numbers {
    display: inline-block;
    margin: 0 1rem;
  }
}

#parallax { 
  width: 100%; 
  position: relative; 
  .single_header {
    margin: 0 auto;
    position: relative;
    width: 80%;
    h1, em, a {
      color: $white;
    }
    a:hover {
      color: $persimmon;
    }
  }
}

#parallax div { 
  position: absolute; 
  text-align: center; 
  top: 200px; 
  width: 100%; 
  img {
    margin: 0 auto;
    width: 80%;
  }
}

.page-template-join-us-php {
  .container {
    background: $mustard;
  }
}

.join_us {
  margin-bottom: 2rem;
}

.trip_teasers {
  margin-bottom: 3rem;
  .trip {
    padding-bottom: 2rem;
    .post-content {
      a {
        color: $poppy;
        text-decoration: underline;
      }
      img {
        margin-bottom: 1rem;
      }
    }
  }
  .oakridge-weekender {
    background: $baby_blue;
  }
  .oregon-outback {
    background: $persimmon;
  }
  .three-sisters-three-rivers {
    background: $mustard;
  }
  .attachment-featured_image {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  h2 {
    margin-top: 2rem;
  }
}

#allowed_tags {
  color: #666;
  code {
    color: #999;
  }
}

#commentform {
  #submit {
    background: $persimmon;
    border-radius: 0;
    color: $poppy;
    font-family: 'bitterBold', Times, serif;
    padding: .5rem;
    text-transform: uppercase;
  }
}
