.container {
  .home_featured_image {
    background: $poppy;
    img {
      display: block;
    }
  }
  .main_container {
    background: $baby_blue;
    padding-top: 5rem;
    position: relative;
    top: -4px;
  }
  .article {
    margin-bottom: 2rem;
    position: relative;
    header {
      background: rgba(233, 204, 140, .8);
      bottom: 0;
      color: #fff;
      margin: 0;
      padding: 0;
      position: absolute;
      transition: all .2s linear;
      h5 {
        color: $white;
        margin: 0;
        padding: .5rem;
      }
    }
    header:hover h5 {
      color: $poppy;
    }
  }
  .article:hover header {
    opacity: 1;
  }
}

.who_is_limberlost {
  padding: 5rem;
  .intro-content {
    p {
      font-family: 'bitterItalic', Times, serif;
      padding-bottom: 5rem;
      padding-left: 4rem;
    }
  }
  .post-content {
    padding: 1rem;
    em {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
  .employee_excerpt:nth-child(1) {
    .entry_content {
      background: $persimmon;
    }
  }
  .employee_excerpt:nth-child(2) {
    .entry_content {
      background: $baby_blue;
    }
  }
  .employee_excerpt:nth-child(3) {
    .entry_content {
      background: $mustard;
    }
  }
}

.stay_in_touch {
  background: url('../img/wood_grain.jpg');
}
