.home {
  .main_container.follow_along {
    background: $baby_blue;
    padding-bottom: 1rem;
    h2 {
      padding-top: 2rem;
    }
  }
}

.container {
  .home_featured_image {
    background: $poppy;
    img {
      display: block;
    }
  }
  .main_container {
    background: $white;
    position: relative;
    top: -4px;
  }
  .article {
    margin-bottom: 2rem;
    position: relative;
    header {
      background: rgba(233, 204, 140, .8);
      bottom: 0;
      color: #fff;
      margin: 0;
      padding: 0;
      position: absolute;
      transition: all .2s linear;
      h5 {
        color: $white;
        margin: 0;
        padding: .5rem;
      }
    }
    header:hover h5 {
      color: $poppy;
    }
  }
  .article:hover header {
    opacity: 1;
  }
}

.who_is_limberlost {
  .intro-content {
    p {
      font-family: 'bitterItalic', Times, serif;
    }
  }
  .post-content {
    padding: 1rem;
    em {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
  .employee_excerpt:nth-child(1) {
    .entry_content {
      background: $persimmon;
    }
  }
  .employee_excerpt:nth-child(2) {
    .entry_content {
      background: $baby_blue;
    }
  }
  .employee_excerpt:nth-child(3) {
    .entry_content {
      background: $mustard;
    }
  }
}

.article_archive {
  h1 {
    padding: 2rem 0;
  }
  .article_portal {
    margin-bottom: 2rem;
    a {
      color: $persimmon;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.post-categories {
  list-style-type: none;
  margin-left: 0;
  li {
    display: inline-block;
    padding: .25rem .5rem;
    transition: background .2s linear;
    a {
      color: $poppy;
    }
  }
  li:hover {
    background: $persimmon;
    cursor: pointer;
  }
}

body.single-post,
.page-template-our-story-php {
  .featured_image_container {
    position: relative;
    .single_article_header {
      position: absolute;
      text-align: center;
      h1, em {
        color: $white;
        text-shadow: 0px 2px 2px $poppy;
      }
    }
  }
  .post-categories {
    display: inline;
  }
  .container {
    .main_container {
      background: $white;
      padding-top: 0;
      #content {
        padding-top: 5rem;
        .entry_meta {
          text-align: center;
        }
        h1, em {
          color: $white;
        }
        em {
          margin-bottom: 1rem;
        }
      }
    }
  }
  .our_story_bios {
    h1 {
      margin: 2rem 0 3rem;
    }
  }
}

.pagination {
  margin-bottom: .5rem;
  text-align: center;
  .page-numbers {
    display: inline-block;
    margin: 0 1rem;
  }
}

#parallax { 
  width: 100%; 
  position: relative; 
  .single_header {
    margin: 0 auto;
    position: relative;
    width: 80%;
    h1, em {
      color: $white;
    }
  }
}

#parallax div { 
  position: absolute; 
  text-align: center; 
  top: 200px; 
  width: 100%; 
  img {
    margin: 0 auto;
    width: 80%;
  }
}

.page-template-join-us-php {
  .container {
    background: $mustard;
  }
}

.join_us {
  margin-bottom: 2rem;
}

.trip_teasers {
  .oakridge-weekender {
    background: $baby_blue;
  }
  .oregon-outback {
    background: $persimmon;
  }
  .three-sisters-three-rivers {
    background: $mustard;
  }
  .attachment-featured_image {
    margin-bottom: 1rem;
  }
  h2 {
    margin-top: 2rem;
  }
}
