/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
@import "normalize";

// Import your changes 
@import "settings";
@import "fonts";
@import "general";
@import "header";
@import "main";
@import "signup";
@import "footer";

// Tweak the mixin for WordPress, this might create some extra CSS in additional to app.css
@import "foundation/components/pagination";

// Reverie comes with a standalone Foundation stylesheet already
@import "foundation";

// Load some Compass magic, note you will need to install Compass first
@import "compass/css3/shared";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

/* Start to customize Reverie */

// add transition effect
a, a:visited, a:hover, a:visited:hover {
	@include transition(all 100ms linear);
}

// add some margin for embeds in post
figure {
	margin: 0 auto $panel-margin-bottom;
}

// Add class for images
figure img {
}

img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Fix gallery images display
.gallery {
	dt, dl {
		display: inline-block;
	}
	dl {
		margin-left: rem-calc(9);
		margin-right: rem-calc(9);
	}
}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: table;
	figcaption {
		font-size: rem-calc(14);
		line-height: 1.4;
		font-style: italic;
		padding: 8px 10px;
		color: #999;
		margin-bottom: $panel-margin-bottom;
		display: table-caption;
		caption-side: bottom;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}

.footer-widget {
	background-color: #eee;
}

body > header.contain-to-grid {
	margin-bottom: rem-calc(32);
	max-width: 100%;
	padding-bottom: 0;
}

.index-card {
	border-bottom: 1px solid #ddd;
	padding-bottom: rem-calc(32);
	margin-bottom: rem-calc(32);
}

span.author,
time {
	font-size: rem-calc(15);
	color: #999;
	a {
		color: #999;
		font-weight: bold;
		&:hover, &:focus {
			color: $body-font-color;
		}
	}
}

.entry-author {
	background-color: #fbfbfb;
	border: none;
	padding: rem-calc(50) rem-calc(80);
	margin: rem-calc(50) (-($column-gutter/2));
	.avatar {
		margin-right: rem-calc(40);
		margin-bottom: rem-calc(24);
	}
	h4 {
		a {
			color: #999;
			&:hover, &:focus {
				color: $body-font-color;
			}
		}
	}
	p {
		color: #bbb;
	}
}

.post header,
.page header {
	margin-bottom: rem-calc(20);
}

.entry-tags {
	color: #999;
	font-size: rem-calc(15);
	a {
		color: #999;
		&:hover, &:focus {
			color: $body-font-color;
		}
	}
}


// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers {
	color: #999;
	@include pagination;
}

.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

.page-numbers li span.current {
  @include border-radius(3px);
}

.page-numbers li {
  margin-left: rem-calc(8);
}

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}

.avatar {
	@include border-radius(50%);
	float: left;
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	p {
		font-size: rem-calc(15);
		line-height: 1.5;
	}
	ul.children {
		margin-left: rem-calc(64);
	}
	li {
		list-style: none;
		margin-bottom: 2em;
	
		.comment-author img {
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
			cite.fn {
				font-style: normal;
				font-weight: 600;
				margin-right: rem-calc(8);
			}
			time a {
				color: #ccc;
				font-size: rem-calc(14);
				margin-right: rem-calc(8);
			}
			.comment-edit-link {
				color: #bbb;
				font-size: rem-calc(14);
			}
		}
		section.comment {
			margin-left: rem-calc(64);
			margin-bottom: rem-calc(32);
			a.comment-reply-link {
				font-size: rem-calc(14);
				font-weight: 600;
				color: #bbb;
				&:hover, &:focus {
					color: $body-font-color;
				}
			}
		}
	}
}



// Start the sidebar
#sidebar {
	margin-top: rem-calc(20);
}

#sidebar, .footer-widget {
	.panel {
		border: none;
		background-color: #eee;
		padding: rem-calc(24) rem-calc(30);
		a {
			color: #999;
			font-size: rem-calc(15);
			&:hover, &:focus {
				color: $body-font-color;
			}
		}
	}
	ul {
		list-style-type: none;
		margin-left: 0;
	}
	.widget {
		h4 {
			text-transform: uppercase;
			font-size: rem-calc(16);
			padding-bottom: rem-calc(16);
			border-bottom: 1px solid #ddd;
			color: #888;
			font-weight: 600;
		}
	}
}



// Start the footer
footer.full-width {
	border-top: 1px solid #ccc;
	padding-top: rem-calc(48);
	p {
		font-size: rem-calc(14);
	}
	a {
		color: #666;
		font-size: rem-calc(15);
		&:hover, &:focus {
			color: $body-font-color;
		}
	}
	.love-reverie {
		border-top: 1px solid #ccc;
		padding-top: rem-calc(24);
	}
}

// Fix admin bar issue, by bybe on Github
.admin-bar > .fixed {
	margin-top: rem-calc(32);
}

.f-topbar-fixed > .container {
	margin-top: rem-calc(32);
}

@media #{$small-up} {
  body {
    h1 {
      font-size: 1.5rem;
      letter-spacing: .25rem;
      line-height: 2.25rem;
      margin: 0;
    }
    h2 {
      font-size: 1rem;
      line-height: 2rem;
      margin: 0;
    }
    h3 {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0;
    }
    .single_article_header {
      top: 50px;
    }
    .article_archive {
      h1 {
        padding-top: 2rem;
      }
    }
    .entry-author {
      .avatar {
        margin-bottom: rem-calc(20);
      }
    }
    .header.contain-to-grid {
      height: 65px;
      margin: 0;
      padding-bottom: 0;
      position: relative !important;
      .top_branding {
        background: $poppy;
      }
      .top_navigation {
        ul {
          li {
            margin: .5rem 3rem;
          }
        }
      }
      a.menu-icon {
        // important overrides the styling from Foundation
        position: absolute;
      }
    }
    .container {
      top: 65px;
      #static_home_banner {
        position: relative;
        .single_header {
          top: 75px;
          em {
            font-size: .8rem;
          }
          h1 {
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
      }
      .home_featured_image {
        #static_home_banner {
          position: relative;
          img.overlay_script {
            position: absolute;
            top: 65px;
          }
        }
      }
      .container {
        .main_container {
          padding-top: 1rem;
          #content {
            padding-top: 1rem;
          }
        }
        .follow_along_portal {
          header {
            opacity: 1;
          }
        }
      }
    }
    .who_is_limberlost {
      padding: 1rem 0;
      .intro-content {
        p {
          font-family: 'bitterItalic', Times, serif;
          padding-bottom: 1rem;
          padding-left: .5rem;
        }
      }
      .employee_excerpt {
        margin-bottom: 1rem;
      }
    }
    .post-categories {
      li {
        font-size: .8rem;
      }
    }
  }
  .stay_in_touch {
    .mc_custom_border_hdr {
      font-size: 1.5rem;
      padding: 2rem 1rem 1rem;
    }
    #mc_subheader {
      font-size: .75rem;
      line-height: 1.5rem;
      padding: 0 1rem;
    }
    #mc_signup_submit {
      margin: 1.5rem 0;
    }
    .mc_input {
      margin: 0;
    }
    .mc_form_inside {
      width: 90%;
    }
    .social_connect {
      h2 {
        font-size: 1rem;
        margin-top: 0;
      }
      li {
        margin: 0 .5rem;
      }
    }
  }
  .footer {
    .sponsor_logos {
      img {
        padding: 4rem;
      }
    }
  }
}

@media #{$medium-up} {
  body {
    h1 {
      font-size: 3.5rem;
      line-height: 4rem;
      margin: 0 0 2rem;
    }
    h2 {
      font-size: 2rem;
      margin: 0;
    }
    h3 {
      font-size: 1rem;
      line-height: 2rem;
      margin: 0 0 .5rem;
    }
    .single_article_header {
      top: 200px;
    }
    .header.contain-to-grid {
      height: 115px;
      padding-bottom: 0;
      position: fixed !important;
      a.menu-icon {
        // important overrides the styling from Foundation
        display: none !important;
      }
    }
    .container {
      #parallax {
        background-attachment: fixed !important;
        background-repeat: repeat !important;
        background-size: cover !important;
        height: 600px;
        top: 20px;
        .single_header {
          top: 200px;
          em {
            font-size: .8rem;
          }
          h1 {
            font-size: 3.5rem;
            line-height: 4rem;
          }
        }
      }
      .home_featured_image {
        #parallax {
          height: 600px;
          div {
            top: 200px;
          }
        }
      }
      margin-top: 115px;
      .main_container {
        #content {
          padding-top: 5rem;
        }
      }
    }
    .follow_along {
      padding-top: 5rem;
    }
    .follow_along_portal {
      header {
        opacity: 0 !important;
      }
    }
    .article:hover header {
      opacity: 1 !important;
    }
    .who_is_limberlost {
      padding: 5rem 0;
      .intro-content {
        p {
          padding-bottom: 1rem;
          padding-left: 4rem;
        }
      }
      .employee_excerpt {
        margin-bottom: 5rem;
      }
    }
    .post-categories {
      li {
        font-size: .75rem;
      }
    }
  }
  .stay_in_touch_large {
    .mc_form_inside {
      width: 58.395%;
    }
  }
  .stay_in_touch {
    .mc_custom_border_hdr {
      font-size: 3.5rem;
      padding: 5rem 1rem 1rem;
    }
    #mc_subheader {
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0 1rem;
    }
    .mc_input {
      margin: 0;
    }
    .social_connect {
      h2 {
        font-size: 2rem;
        margin-top: 0;
      }
      li {
        margin: 0 .5rem;
      }
    }
  }
  .footer {
    .sponsor_logos {
      img {
        padding: 1rem;
      }
    }
  }
}

@media #{$large-up} {
	#sidebar {
		padding-left: $column-gutter;
		padding-right: 0;
		margin-top: rem-calc(0);
	}
	.footer-widget {
		margin-top: rem-calc(48);
		padding-top: rem-calc(32);
	}
}
